@import "globals";

#container {
  height: fit-content;
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(16, 32px);
  grid-template-rows: repeat(16, 32px);
  div {
    background-color: white;
    transition: all 0.5s;
    width: 30px;
    height: 30px;
    margin: 0px;
  }
}

.tile {
  transform: scale(1.1);
}
